name: Unit Tests

on: [ push, pull_request ]

jobs:
  test:
    name: Node v${{ matrix.node }} on PostgreSQL v${{ matrix.postgres }}
    strategy:
      fail-fast: false
      matrix:
        node: [ '20' ]
        postgres: [ '16' ]
    runs-on: ubuntu-latest

    # Service containers to run with `container-job`
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # - uses: denoland/setup-deno@v1
      #  with:
      #    deno-version: v1.x
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: npm

      - name: Install NodeJS dependencies
        run: npm ci

      - name: Run linter test
        run: npm run lint

      - name: Run circular dependency test
        run: npm run check

      - name: Run compile test
        run: npm run compile

      - name: Run unit tests
        run: npm run citest
        env:
          NODE_OPTIONS: "--max_old_space_size=4096"
          NODE_TLS_REJECT_UNAUTHORIZED: 0
          PGUSER: postgres
          PGPASSWORD: postgres

      - name: Send coverage to Coveralls
        uses: coverallsapp/github-action@v2
        # Run only once
        if: ${{ matrix.node == '20' }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
